#cls{
    background-color: indianred;
    color: white;
}

input[type="button"]
{
    border: solid black 2px;
    width:100%;
    background-color: grey;
    color: white;
}

f#result{
    visibility: hidden;
}

span#exponent{
    visibility: hidden;
}

#exponent.dodo{
    visibility: hidden;
}